<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Scandiweb_SearchLoss::b2b_search_intelligence"
             title="B2B Search Intelligence"
             module="Scandiweb_SearchLoss"
             sortOrder="95"
             parent="Magento_Analytics::business_intelligence"
             action="searchloss/dashboard/index"
             resource="Magento_Backend::admin"/>
    </menu>
</config>
